
* {
    box-sizing: border-box;
}




body {
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Outfit", sans-serif;
}

.container {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 100%;
    max-width: 320px;
    padding: 1.25rem;
    border-radius: 10px;
}

.img img {
    width: 100%;
    border-radius: 10px;
}

.container h1 {
    font-weight: 700;
    font-size: 1.4rem;
    color: hsl(218, 44%, 22%);
}

.container p {
    font-weight: 400;
    color: hsl(216, 15%, 48%);
    font-size: 0.9rem;
}




